In [ ]:

import pandas as pd
# uploading the first data set that contain instructor names, courses they are teaching, as well as the number of hours per course
instructors = pd.read_csv('Instructors.csv')

# uploading the second data set that contains the scheduled courses and their days of the week in one term
days = pd.read_csv('Days.csv')
print(instructors)

   Course_code  Hours    Instructor
0     YCBS_255     30   Instructor1
1     YCBS_256     30   Instructor2
2     YCBS_257     35   Instructor3
3     YCBS_258     35   Instructor4
4     YCBS_299     30   Instructor5
5     YCBS_300     10   Instructor6
6     YCBS_301      5   Instructor7
7     YCBS_302     15   Instructor8
8     YCBS_303     20   Instructor9
9     YCBS_304     30  Instructor10
10    YCBS_305     35  Instructor11
11    YCBS_306     20  Instructor12
12    YCBS_307     25  Instructor13
13    YCBS_308      5  Instructor14
14    YCBS_309     15  Instructor15
15    YCBS_310     30  Instructor16
16    YCBS_311     35  Instructor17
17    YCBS_312     30  Instructor18
18    YCBS_313     25  Instructor19

In [ ]:
print(days)

   Course_code       Days
0     YCBS_255     Monday
1     YCBS_256    Tuesday
2     YCBS_257  Wednesday
3     YCBS_258   Thursday
4     YCBS_299     Friday
5     YCBS_300     Monday
6     YCBS_301    Tuesday
7     YCBS_302  Wednesday
8     YCBS_303   Thursday
9     YCBS_304     Friday
10    YCBS_305     Monday
11    YCBS_306    Tuesday
12    YCBS_307  Wednesday
13    YCBS_308   Thursday
14    YCBS_309     Friday
15    YCBS_310     Monday
16    YCBS_311    Tuesday
17    YCBS_312  Wednesday
18    YCBS_313     Monday

In [ ]:
# merging the 2 data sets on the course_code column

pd.merge (instructors, days, on='Course_code', how='outer')

   Course_code  Hours    Instructor       Days
0     YCBS_255     30   Instructor1     Monday
1     YCBS_256     30   Instructor2    Tuesday
2     YCBS_257     35   Instructor3  Wednesday
3     YCBS_258     35   Instructor4   Thursday
4     YCBS_299     30   Instructor5     Friday
5     YCBS_300     10   Instructor6     Monday
6     YCBS_301      5   Instructor7    Tuesday
7     YCBS_302     15   Instructor8  Wednesday
8     YCBS_303     20   Instructor9   Thursday
9     YCBS_304     30  Instructor10     Friday
10    YCBS_305     35  Instructor11     Monday
11    YCBS_306     20  Instructor12    Tuesday
12    YCBS_307     25  Instructor13  Wednesday
13    YCBS_308      5  Instructor14   Thursday
14    YCBS_309     15  Instructor15     Friday
15    YCBS_310     30  Instructor16     Monday
16    YCBS_311     35  Instructor17    Tuesday
17    YCBS_312     30  Instructor18  Wednesday
18    YCBS_313     25  Instructor19     Monday

In [ ]:
# creating a new column and calculating the pay based on the number of hours

instructors['Pay'] = (instructors['Hours'])*100
print(instructors)

   Course_code  Hours    Instructor   Pay
0     YCBS_255     30   Instructor1  3000
1     YCBS_256     30   Instructor2  3000
2     YCBS_257     35   Instructor3  3500
3     YCBS_258     35   Instructor4  3500
4     YCBS_299     30   Instructor5  3000
5     YCBS_300     10   Instructor6  1000
6     YCBS_301      5   Instructor7   500
7     YCBS_302     15   Instructor8  1500
8     YCBS_303     20   Instructor9  2000
9     YCBS_304     30  Instructor10  3000
10    YCBS_305     35  Instructor11  3500
11    YCBS_306     20  Instructor12  2000
12    YCBS_307     25  Instructor13  2500
13    YCBS_308      5  Instructor14   500
14    YCBS_309     15  Instructor15  1500
15    YCBS_310     30  Instructor16  3000
16    YCBS_311     35  Instructor17  3500
17    YCBS_312     30  Instructor18  3000
18    YCBS_313     25  Instructor19  2500

In [ ]:
# uploading a third data set with the schedule from the database in order to compare it to the schedule in the previous document
schedule = pd.read_csv('Days3.csv')

In [ ]:
print(schedule)

   Course_code       Days2
0     YCBS_255      Monday
1     YCBS_256     Tuesday
2     YCBS_257     Tuesday
3     YCBS_258   Wednesday
4     YCBS_299      Friday
5     YCBS_300    Saturday
6     YCBS_301      Monday
7     YCBS_302  Wednesday
8     YCBS_303    Thursday
9     YCBS_304      Friday
10    YCBS_305    Saturday
11    YCBS_306    Tuesday
12    YCBS_307   Wednesday
13    YCBS_308    Thursday
14    YCBS_309      Friday
15    YCBS_310      Monday
16    YCBS_311    Saturday
17    YCBS_312   Wednesday
18    YCBS_313    Thursday

In [ ]:
# merging the original schedule in "Days" and the schedule from the system on Course_code
schedule_days = pd.merge (days, schedule, on='Course_code', how='outer')

In [ ]:
# new file
print(schedule_days)

   Course_code       Days       Days2
0     YCBS_255     Monday      Monday
1     YCBS_256    Tuesday     Tuesday
2     YCBS_257  Wednesday     Tuesday
3     YCBS_258   Thursday   Wednesday
4     YCBS_299     Friday      Friday
5     YCBS_300     Monday    Saturday
6     YCBS_301    Tuesday      Monday
7     YCBS_302  Wednesday  Wednesday
8     YCBS_303   Thursday    Thursday
9     YCBS_304     Friday      Friday
10    YCBS_305     Monday    Saturday
11    YCBS_306    Tuesday    Tuesday
12    YCBS_307  Wednesday   Wednesday
13    YCBS_308   Thursday    Thursday
14    YCBS_309     Friday      Friday
15    YCBS_310     Monday      Monday
16    YCBS_311    Tuesday    Saturday
17    YCBS_312  Wednesday   Wednesday
18    YCBS_313     Monday    Thursday

In [ ]:
# validating the schedule. Those courses that don't have matching days of the week will need to be corrected.
print(schedule_days['Days']==(schedule_days['Days2']))

0      True
1      True
2     False
3     False
4      True
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12     True
13     True
14     True
15     True
16    False
17     True
18    False
dtype: bool